---
title : about
keywords : about, know me, profile
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body>
		<div class="container-fluid main-page-container">
			<div class="row" style="height : 100%">
				{% include sidebar-nav.html %}

				<div class="col-md-9 content-area">
					<div class="contact-hi">hi!</div>
					<div class="contact-meta">
						

						<p>I will be more than happy to share a chat on anything that interests me. Looking forward to hear from you! </p><br><p>You can reach me at :</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:g31.pranjal@gmail.com"><i class="fa fa-envelope"></i>&nbsp;&nbsp;g31.pranjal@gmail.com</a></p>

						<p>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:f2013470@pilani.bits-pilani.ac.in"><i class="fa fa-envelope"></i>&nbsp;&nbsp;f2013470@pilani.bits-pilani.ac.in</a> (university mail)</p>

						<div style="margin-top: 40px">or, connect with me through : </div>

						<a style="color: black;" href="https://www.facebook.com/g31pranjal" target="_fb"><i class="sm-i fa fa-facebook"></i>
						<a style="color: black;" href="https://in.linkedin.com/in/g31pranjal"><i class="sm-i fa fa-linkedin"></i></a>
						<a style="color: black;" href="https://twitter.com/g31_pranjal"><i class="sm-i fa fa-twitter"></i></a>
						<a style="color: black;" href="https://www.quora.com/profile/Pranjal-Gupta-15"><i class="sm-i fa fa-quora"></i></a>
						<a style="color: black;" href="https://github.com/g31pranjal/"><i class="sm-i fa fa-github"></i></a>


						<!-- facebook, linkedin, twitter, quora, github -->
						

					</div>

				</div>

			</div>
		</div>

		<script>
				
		$(document).ready(function() {
			$(".content-area").animate({"padding-top": "80px" , "opacity" : 1}, "slow");			
				
		});

		</script>

	</body>

</html>

