---
title : life and beliefs
keywords : life, beliefs, opinions, views
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div class="container-fluid main-page-container">
			<div class="row" style="height : 100%">
				{% include sidebar-nav.html %}
				<div class="col-md-9 content-area">
					<div class="lnb-main-hi"><img class="lnb-main-icon" src="/assets/img/lnb-main-icon.svg" >interesting(s)</div>
					<div class="lnb-main-meta">
						Collection of all the things that I found interesting over the www (dub-dub-dub) or a currently occupying my mind. <b>Cuation:</b> it mostly holds good research papers that I stumbled upon during my research at different places, though it was never the initial intention.
					</div>
				</div>
			</div>
		</div>
		{% include content_animation_script.html %}
	</body>
</html>