---
title : life and beliefs
keywords : life, beliefs, opinions, views
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div>
			<div style="height : 100%">
				{% include sidebar-nav.html %}
				<div class="content-area">
					<div class="interestings-main-hi"><img class="interestings-main-icon" src="/assets/img/lnb-main-icon.svg" >interesting(s)</div>
					<div class="interestings-main-meta">
						Collection of all the things that I found interesting over the www (dub-dub-dub) or a currently occupying my mind. <b>Cuation:</b> it mostly holds good research papers and web articles that I stumbled upon during my research at different places, though it was never the initial intention.
					</div>
					<div class="interestings-main-legend">
						<div class="switch switch-all">
							<i class="glyphicon glyphicon-stop"></i>&nbsp;All
						</div>
						<div class="switch switch-systems">
							<i class="glyphicon glyphicon-stop"></i>&nbsp;Systems and Databases
						</div>
						<div class="switch switch-research-papers">
							<i class="glyphicon glyphicon-stop"></i>&nbsp;Research Papers
						</div>
						<div class="switch switch-thoughts">
							<i class="glyphicon glyphicon-stop"></i>&nbsp;Life and Thoughts
						</div>
						<div class="switch switch-others">
							<i class="glyphicon glyphicon-stop"></i>&nbsp;Miscellaneous Stuff
						</div>
					</div>
					<div class="interestings-main-index">
						{% for point in site.data.interestings.array %}
						<div class="interestings-main-entry interestings-color-code-{{point.type}}"> 
							<div class="interestings-main-entry-date">{{point.date}}</div>
							<div class="interestings-main-entry-title">{{point.txt}}</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% include content_animation_script.html %}
		<script type="text/javascript">

			function offOthers() {$(".interestings-color-code-others").slideUp();}
			function onOthers() {$(".interestings-color-code-others").slideDown();}
			function offSystems() {$(".interestings-color-code-systems").slideUp();}
			function onSystems() {$(".interestings-color-code-systems").slideDown();}
			function offThoughts() {$(".interestings-color-code-thoughts").slideUp();}
			function onThoughts() {$(".interestings-color-code-thoughts").slideDown();}
			function offResearchPapers() {$(".interestings-color-code-research-papers").slideUp();}
			function onResearchPapers() {$(".interestings-color-code-research-papers").slideDown();}

			$(".switch-all").click(function() {
				onOthers();
				onSystems();
				onThoughts();
				onResearchPapers();
			});

			$(".switch-others").click(function() {
				onOthers();
				offSystems();
				offThoughts();
				offResearchPapers();
			});

			$(".switch-systems").click(function() {
				offOthers();
				onSystems();
				offThoughts();
				offResearchPapers();
			});

			$(".switch-thoughts").click(function() {
				offOthers();
				offSystems();
				onThoughts();
				offResearchPapers();
			});

			$(".switch-research-papers").click(function() {
				offOthers();
				offSystems();
				offThoughts();
				onResearchPapers();
			});

		</script>>
	</body>
</html>