---
title : projects
keywords : projects, work
yrs : ["2016", "2015", "2014"]
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body>
		<div class="container-fluid main-page-container">
			<div class="row" style="height : 100%">
				{% include sidebar-nav.html %}

				<div class="col-md-9 content-area">
				
					<div class="project-main-hi">projects</div>
					<div class="project-main-meta">
						Ranging from web development to information retrieval, the significant projects I have worked upon, in the recent years... 
					</div>

					<div class="project-main-index">
					{% for y in page.yrs %}
						<div class="project-main-year">{{ y }}</div>
						<ul>
							{% for project in site.projects reversed %}
								{% assign year = project.date | date : '%Y' %}
								{% if year == y %}
									<li class="project-main-entry">
										<b><a href="{{ project.url }}">{{ project.title }}</a></b><br>
										<div class="project-main-entry-desc">{{ project.desc }}</div>
										<div class="project-main-entry-date">{% if project.startdate %} {{ project.startdate | date : "%B %Y" }} - {% endif %}{{ project.date | date : "%B %Y" }}</div> 
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endfor %}
					</div>

					

				</div>




			</div>
		</div>

		<script>
				
		$(document).ready(function() {
			$(".content-area").css({"padding-top": "0px"});			
			$(".content-area").animate({"padding-top": "30px" , "opacity" : 1}, "slow");			
				
		});

		</script>


	</body>

</html>

