---
title : projects
keywords : projects, work
yrs : ["2017", "2016", "2015", "2014"]
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body>
		<div class="container-fluid main-page-container">
			<div class="row" style="height : 100%">
				{% include sidebar-nav.html %}

				<div class="col-md-9 content-area">
				
					<div class="project-main-hi"><img class="project-main-icon" src="/assets/img/project-main-icon.svg" >projects</div>
					<div class="project-main-meta">
						Some of the significant projects I have worked upon in recent years... 
					</div>

					<div style="margin-top : 30px;" class="project-main-index">
					{% assign prjs = site.projects | sort: "date" | reverse %}
					{% for y in page.yrs %}
						<div class="project-main-year">{{ y }}</div>
						<ul>
							{% for project in prjs %}
								{% assign year = project.date | date : '%Y' %}
								{% if year == y %}
									<li class="project-main-entry">
										<b><a href="{{ project.url }}">{{ project.title }}</a></b><br>
										<div class="project-main-entry-desc">{{ project.desc }}</div>
										<div class="project-main-entry-date">{{ project.date | date : "%B %Y" }} {% if project.enddate %} - {{ project.enddate | date : "%B %Y" }} {% else %} (ongoing){%endif%}</div> 
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endfor %}
					</div>

					

				</div>




			</div>
		</div>

		<script>
				
		$(document).ready(function() {
			$(".content-area").css({"padding-top": "0px"});			
			$(".content-area").animate({"padding-top": "30px" , "opacity" : 1}, "slow");			
				
		});

		</script>


	</body>

</html>

