---
title : projects
keywords : projects
yrs : ["2019", "2018", "2017", "2016", "2015"]
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body>
		<div class="container-fluid main-page-container">
			<div class="row" style="height : 100%">
				{% include sidebar-nav.html %}
				<div class="content-area">
					<div class="project-main-hi"><img class="project-main-icon" src="/assets/img/project-main-icon.svg" >projects</div>
					<div class="project-main-meta">
						Collection of work I have done through my ungraduate education and now in my Masters...
					</div>
					<div style="margin-top : 30px;" class="project-main-index">
					{% assign prjs = site.projects | sort: "date" | reverse %}
					{% for y in page.yrs %}
						<div class="project-main-year">{{ y }}</div>
						<ul>
							{% for project in prjs %}
								{% assign year = project.date | date : '%Y' %}
								{% if year == y %}
									<li class="project-main-entry">
										<b><a href="{{ project.url }}">{{ project.title }}</a></b><br>
										<div class="project-main-entry-desc">{{ project.desc }}</div>
										<div class="project-main-entry-date">{{ project.date | date : "%B %Y" }} {% if project.enddate %} - {{ project.enddate | date : "%B %Y" }} {% else %} (ongoing){%endif%}</div> 
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% include content_animation_script.html %}
	</body>
</html>