---
title : designer me
keywords : website, design, web development, javascript, vector art 
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div>
			<div style="height : 100%">
				{% include sidebar-nav.html %}
				<div class=" content-area">
					<div class="web-dev-main-hi"><img class="work-main-icon" src="/assets/img/web-dev.svg" >designer me</div>
					<div class="web-dev-main-meta">
					</div>
					{% for entry in site.data.web-dev.entries %}
					<div class="web-dev-holder">
						<img class="web-dev-holder-img" src="{{entry.filename}}" />
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% include content_animation_script.html %}
	</body>
</html>

