---
title : work
keywords : work, internships, positions-of-responsibility 
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body>
		<div class="container-fluid main-page-container">
			<div class="row" style="height : 100%">
				{% include sidebar-nav.html %}

				<div class="col-md-9 content-area">
				
					<div class="work-main-hi col-md-12"><img class="work-main-icon" src="/assets/img/bc.svg" >work</div>
					<div class="work-main-meta col-md-12">
						Internships are great (yay!) at always being a source of some new, unorthodoxed and practical learning. Each summer out has tought me things of vital values as I worked on a spectrum other than academics, and it has all been worth the experience...
					</div>

					<div class="work-main-index col-md-12">
					{% assign wrks = site.work | sort: "date" | reverse %}

					{% for work in wrks %}
						{% assign type = work.type %}
						{% if type == "intern" %}
							<div class="work-main-entry col-md-12">
								
								<img src="/assets/img/{{work.logo}}" class="work-main-entry-logo col-md-2">

								<div class="work-main-entry-text col-md-10">
									<div class="work-main-entry-text-org">{{work.organization}}</div>  
									<div class="work-main-entry-text-loc">{{work.location}}</div>
									<div class="work-main-entry-text-dat">{{ work.date | date : "%B %Y" }} {% if work.enddate %} - {{ work.enddate | date : "%B %Y" }} {% else %} (ongoing){%endif%}</div>
									{% for para in work.desc%}
									<div class="work-main-entry-text-desc">{{para}}</div>
									{% endfor %}
								</div>

							</div>
						{% endif %}
					{% endfor %}
				
					</div>

					
					<div class="work-main-meta col-md-12">
						While at BITS Pilani, I worked at some good positions in the student-run bodies of the Student Union. This has really helped me in getting a taste of teamwork, leadership and decision-making...
					</div>

					<div class="work-main-index col-md-12">
					{% assign wrks = site.work | sort: "date" | reverse %}

					{% for work in wrks %}
						{% assign type = work.type %}
						{% if type == "others" %}
							<div class="work-main-entry col-md-12">
								
								<img src="/assets/img/{{work.logo}}" class="work-main-entry-logo col-md-2">

								<div class="work-main-entry-text col-md-10">
									<div class="work-main-entry-text-org">{{work.organization}}</div>  
									<div class="work-main-entry-text-loc">{{work.location}}</div>
									<div class="work-main-entry-text-dat">{{ work.date | date : "%B %Y" }} {% if work.enddate %} - {{ work.enddate | date : "%B %Y" }} {% else %} (ongoing){%endif%}</div>
									{% for para in work.desc%}
									<div class="work-main-entry-text-desc">{{para}}</div>
									{% endfor %}
								</div>

<!-- 								<div class="project-main-entry-desc">{{ project.desc }}</div>
								<div class="project-main-entry-date">{{ project.date | date : "%B %Y" }} {% if project.enddate %} - {{ project.enddate | date : "%B %Y" }} {% else %} (ongoing){%endif%}</div> 
 -->

							</div>
						{% endif %}
					{% endfor %}
				



					</div>
					

				</div>




			</div>
		</div>

		<script>
				
		$(document).ready(function() {
			$(".content-area").css({"padding-top": "0px"});			
			$(".content-area").animate({"padding-top": "30px" , "opacity" : 1}, "slow");			
				
		});

		</script>


	</body>

</html>

