---
title : work
keywords : work, internships, positions-of-responsibility 
type : {"research" : "Research Assistantships / Internships:", "industry" : "Industrial Internships (during summer terms while at BITS Pilani):", "ta" : "Teaching Assistantships:", "others" : "Other Managerial Positions:"}
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div>
			<div style="height : 100%">
				{% include sidebar-nav.html %}
				<div class="content-area">
					<div class="work-main-hi"><img class="work-main-icon" src="/assets/img/bc.svg" >work</div>
					<div class="work-main-meta"><br></div>
					{% assign wrks = site.work | sort: "date" | reverse %}
					{% for t in page.type %}
					<div class="work-main-meta">
						{{t.last}}
					</div>
					<div class="work-main-index">
					{% for work in wrks %}
						{% assign type = work.type %}
						{% if type == t.first %}
							<div class="work-main-entry">
								<img src="/assets/img/{{work.logo}}" class="work-main-entry-logo">
								<div class="work-main-entry-text">
									<div class="work-main-entry-text-org">{{work.post}} @ <a target="_blank" href="{{work.webpage}}">{{work.organization}}</a></div>  
									<div class="work-main-entry-text-loc">{{work.location}}</div>
									<div class="work-main-entry-text-dat">{{ work.date | date : "%B %Y" }} {% if work.enddate %} - {{ work.enddate | date : "%B %Y" }} {% else %} (ongoing){%endif%}</div>
								</div>
								{% for para in work.desc%}
								<div class="work-main-entry-text-desc">{{para}}</div>
								{% endfor %}
							</div>
						{% endif %}
					{% endfor %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% include content_animation_script.html %}
	</body>
</html>