<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="EN">

		<title>{{ page.title }} | {{ site.title }}</title>

		<meta name="description" content = "{{ page.description }}"/>
		<meta name = "keywords" content = "{% if page.keywords %}{{ page.keywords }},{%endif%} {{ site.keywords }}"/>

		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">

		<meta name="author" content="Pranjal Gupta">
		<meta name="email" content="g31.pranjal@gmail.com">
		<meta name="rating" content="general">
		<meta name="distribution" content="Global">
		<meta name="revisit-after" content="1 days">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- local css file -->
		<link rel="stylesheet" href="/assets/css/base.css">
		<link rel="stylesheet" href="/assets/css/normalize.css">

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bitter:400, 700" rel="stylesheet">
		
	</head>