


<div class="col-xs-3 navig">
	<div class="nick">in-arena</div>
	<div class="intro">budding computer science engineer, web developer, design buff, web search enthusiast</div>	
	<ul class="main-ul" style="list-style: none;">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
		<li><a href="/about.html">about</a></li>
		<li><a href="/projects/">projects</a></li>
		<li>life, beliefs and opinions</li>
		<li><a href="/resume/">resume</a></li>
		<li><a href="/contact.html">say hello !</a></li>
		
	</ul>
</div>

