


<div class=" navig">
	<div class="info-block">
		<img src="/assets/img/hi1.png" class="photo-frame">
		<div class="nick">pranjal gupta</div>
		<div class="intro">building a graph database system,<br>wants to build large scale data processing systems.</div>
		<ul class="main-ul" style="list-style: none;">
			<li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
			<li><a href="/about.html">about me</a></li>
			<li><a href="/work.html">work</a></li>
			<li><a href="/projects.html">projects</a></li>
			<li><a href="/interesting_over_the_web.html">interesting over the web</a></li>
			<li><a href="/web_dev.html">designer me</a></li>
			<li><a href="/assets/pranjalGupta.pdf" target="_sg">resume&nbsp;&nbsp;<i style="font-size : 15px;" class="fa fa-external-link"></i></a></li>
		</ul>
	</div>
</div>

