


<div class="col-xs-3 navig">

	<div class="photo-frame"></div>

	<div class="nick">pranjal gupta</div>
	<div class="intro">budding computer science engineer, web developer, design buff, web search enthusiast</div>	
	<ul class="main-ul" style="list-style: none;">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
		<li><a href="/about.html">about me</a></li>
		<li><a href="/blog.html">blog</a></li>
		<li><a href="/work.html">work</a></li>
		<li><a href="/projects.html">projects</a></li>
		<li><a href="/lnb.html">life and beliefs</a></li>
		<li><a href="/assets/pranjalGupta.pdf" target="_sg">resume&nbsp;&nbsp;<i style="font-size : 15px;" class="fa fa-external-link"></i></a></li>
		<li><a href="/contact.html">say hello !</a></li>
		
	</ul>
</div>

