
html, body {
	background: #fafafa; /* For browsers that do not support gradients */    
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.content-area {
    height: auto;
    padding: 0px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Bitter', serif;
    opacity: 0;
    width: 100%;
    margin-left: 0px;
    position: absolute;
}

@media (min-width: 48em) {
	.content-area {
	    padding: 0px 120px;
	    padding-top: 100px;
	    padding-bottom: 100px;
	    font-family: 'Bitter', serif;
	    opacity: 0;
	    width: calc(100% - 380px);
	    margin-left: 380px;
	}
}


.main-page-container {
	height: 100%;
	position: static;
}


/* ----------------------------------- sidebar navigation ----------------------------------*/

.navig {
	background-color: #0179a3;
	background-image: url("/assets/img/sideback.jpg");
	background-size: cover;
	color : white;
	height: 500px;
	overflow: visible;
}

@media (min-width: 48em) {
	.navig {
		min-height: 100%;
		box-shadow: 0px 0px 20px 1px #444;
		width: 380px;
		position: fixed;
	}
}

.info-block {
    width: 100%;
    margin-top: 50px;
    position: absolute;
    text-align: center;
    padding: 20px;
}

@media (min-width: 48em) {
	.info-block {
		position: absolute;
	    width: inherit;
	    bottom: 3rem;
	    text-align: right;
        padding: 0px;
	}
}

.photo-frame {
	border-radius: 5px;
	height: 20rem;
	margin-right: 30px;
	margin-bottom: 30px;
	background: green;
	background: url('../img/hi1.png');
	background-size: 100%;
	display: none;
}

.nick {
	padding-bottom: 0px;
	font-weight: 900;
	font-size: 30px;
}

.intro {
	font-size: 18px;
}

.main-ul {
    margin-top: 10px;
}

.main-ul>li {
	padding: 2px;
	font-weight: 700;
	font-size: 20px;
}

.social {
	border-top: 1px solid #fff;
}

@media (min-width: 48em) {
	.photo-frame {
		display: inline-block;
		margin-right: 20px;
	}

	.nick {
		padding-bottom: 10px;
		font-weight: 900;
		font-size: 30px;
		margin-right: 30px;
	}

	.intro {
		font-size: 18px;
		margin-right: 30px;
		margin-bottom: 30px;
		padding-left: 10px;
	}

	.main-ul {
	    margin-top: 10px;
	    margin-right: 30px;
	}

	.social {
		border-top: 1px solid #fff;
		margin-right: 30px;
	}
}

.info-block>ul>li>a {
	color: inherit;
}

.info-block>ul>li>a:hover,
a:hover{
	text-decoration: none;
}

.info-block>.social>a {
	color: inherit;
}

.info-block>.social>a:hover,
a:hover{
	text-decoration: none;
}


/* -------------------------- project template --------------------------------- */

.project-meta {
	font-size: 17px;
	margin-bottom: 10px;
	color: #bbb;
}

.project-title {
	font-size: 40px;
	font-weight: 700;
}

.project-content {
	text-align: justify;
	margin-top: 35px;
	font-size: 20px;
	line-height: 32px;
}

.project-content>h1, 
.project-content>h2, 
.project-content>h3, 
.project-content>h4,
.project-content>h5,
.project-content>h6 {
	font-weight: 700;
	padding-top: 25px;
}

.project-content>p, li {
	padding-top: 10px;
}

.project-back-btn {
	position: absolute;
	margin-left: 25%;
	padding: 20px;
}

/* -------------------------------------- home page ---------------------------- */

.home-hi {
	font-size: 130px;
	font-weight: 700;	
	line-height: 160px;
	color: #de4e4e;
}

.home-content {
	margin-top: 20px;
	font-size: 23px;
	line-height: 42px;
}

/* -------------------------------------- contact page ---------------------------- */

.contact-hi {
	font-size: 130px;
	font-weight: 700;	
	line-height: 160px;
	color: #de4e4e;
}

.contact-meta {
	font-size: 20px;	
}

.sm-i {
	font-size: 28px !important;
	margin: 15px 15px 0px 0px ;
}

/* ---------------------------------------- project main ------------------------------ */

.project-main-hi {
	font-size: 80px;
	font-weight: 700;	
	line-height: 140px;
	color: #007b47;
}

.project-main-icon {
	width: 80px;
	margin-right: 30px; 
}

.project-main-meta {
	font-size : 23px;
	line-height: 38px;
}

.project-main-year {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
}

.project-main-entry {
	margin: 10px 0px 20px 0px ;	
	font-size: 20px;
}

.project-main-entry-desc {	
	font-size: 18px;
}

.project-main-entry-date {	
	font-size: 15px;
	color: #888;
	margin-top: 4px;
}

/* ---------------------------------------- work main ------------------------------ */

.work-main-hi {
	font-size: 80px;
	font-weight: 700;	
	line-height: 140px;
	color: #e17b00;
}

.work-main-icon {
	width: 80px;
	margin-right: 30px; 
}

.work-main-meta {
	font-size: 23px;
	line-height: 38px;
}

.work-main-index {
	margin-top: 30px;
	margin-bottom: 40px;
	display: block;
}

.work-main-entry {
	/*border : 1px solid black;*/
	margin: 10px;
	margin-bottom: 20px;
	padding: 10px;
}

.work-main-entry-logo {
	width: 70px;
	padding: 2px;
}

.work-main-entry-text-org {
	font-weight: 700;
	font-size: 20px;
}

.work-main-entry-text-loc {	
	font-size: 15px;
	color: #888;
	margin-top: 0px;
}

.work-main-entry-text-desc {	
	margin-top: 6px;
	text-align: justify;
	font-size: 18px;
}

.work-main-entry-text-dat {	
	margin-top: 6px;
	font-weight: 700;
	font-size: 15px;
	color: #555;
}




/* --------------------------------------------- about -------------------------------------- */

.about-text {
	font-size: 20px;
	/*line-height: px;*/
	text-align: justify;
	padding: 0px 0px 50px;
	color: rgb(51,51,51);
	line-height: 35px;
}

.about-img {
	display: block;
	margin-right: : 0px;
	height: 70px;
}


/*----------------------------------- interesting ----------------------------------------*/

.lnb-main-hi {
	font-size: 80px;
	font-weight: 700;	
	line-height: 140px;
	color: #760c7c;
}

.lnb-main-icon {
	width: 80px;
	margin-right: 30px; 
}

.lnb-main-meta {
	font-size : 25px;
	line-height: 40px;
}

.lnb-main-entry {
	border: 1px solid #eaeaea;
	border-radius: 5px;
	margin : 20px 80px 0px 60px;
	padding: 20px;
	box-shadow: 1px 1px 10px #eee;
	background-color: #fefefe;
}

.lnb-main-entry-title {
	font-size: 25px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}

.lnb-main-entry-date {	
	font-size: 10px;
	color: #888;
	margin-top: 4px;
}

.lnb-main-entry-content {	
	line-height: 23px;
	padding: 10px 20px;
	text-align: justify;
}