
html, body {
	background-color: #fafafa;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.content-area {
	height: 100%;
	overflow-y: scroll;
	padding: 0px 120px;
	padding-top: 50px;
	padding-bottom: 100px;
	font-family: 'Bitter', serif;
	opacity: 0;
}

.main-page-container {
	height: 100%;
	position: static;
}


/* ----------------------------------- sidebar navigation ----------------------------------*/

.navig>ul>li>a {
	color: inherit;
}

.navig>ul>li>a:hover,
a:hover{
	text-decoration: none;
}

.navig {
	background-color: rgb(62, 39, 35);
	height: auto;
	min-height: 100%;
	overflow: visible;
	padding: 0px;
	box-shadow: 0px 0px 20px 1px #444;
	color : white;
	position: static !important	;
	text-align: right;
}

.nick {
	padding: 15px;
	padding-bottom: 0px;
	font-weight: 900;
	font-size: 40px;
	margin-right: 20px;
}

.intro {
	padding: 10px;
	font-size: 20px;
	margin-right: 30px;
}

.main-ul {
	margin-top: 20px;
	margin-right: 40px;
	text-align: right;
}

.main-ul>li {
	padding: 5px;
	font-weight: 700;
	font-size: 20px;
}


.photo-frame {
	border-radius: 5px;
	width: 170px;
	height: 170px;
	margin-top: 30px;
	margin-left: calc(100% - 210px);
	position: static;
	margin-right: 20px;
	background: green;
	background: url('../img/mep.jpg');
	background-size: 100%;
	border: 3px solid #fff;
	box-shadow: 0px 0px 5px black;
}

/* -------------------------- project template --------------------------------- */

.project-meta {
	font-size: 20px;
	margin-bottom: 10px;
	color: #bbb;
}

.project-title {
	font-size: 40px;
	font-weight: 700;
}

.project-content {
	text-align: justify;
	margin-top: 40px;
	font-size: 18px;
	line-height: 30px;
}

.project-content>h1, 
.project-content>h2, 
.project-content>h3, 
.project-content>h4,
.project-content>h5,
.project-content>h6 {
	font-weight: 700;
	padding-top: 20px;
}

.project-content>p {
	padding-top: 5px;
}


/* -------------------------------------- contact page ---------------------------- */

.contact-hi {
	font-size: 140px;
	font-weight: 700;	
	line-height: 160px;
	color: #de4e4e;
}

.contact-icon {
	width: 120px;
	margin-right: 30px;
}

.contact-meta {
	font-size: 22px;	
}

.sm-i {
	font-size: 30px !important;
	margin: 20px 20px 0px 0px ;
}

/* ---------------------------------------- project main ------------------------------ */

.project-main-hi {
	font-size: 80px;
	font-weight: 700;	
	line-height: 140px;
	color: #007b47;
}

.project-main-icon {
	width: 80px;
	margin-right: 30px; 
}

.project-main-meta {
	font-size: 22px;	
}

.project-main-year {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 20px;	
}

.project-main-entry {
	margin: 10px 0px 20px 0px ;	
	font-size: 18px;
}

.project-main-entry-desc {	
	font-size: 15px;
}

.project-main-entry-date {	
	font-size: 11px;
	color: #888;
	margin-top: 4px;
}

/* --------------------------------------------- about -------------------------------------- */

.about-text {
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	padding: 10px 0px 40px;
}

.about-img {
	display: block;
	margin: auto;
	height: 60px;
}


