
html, body {
	background: #fafafa; /* For browsers that do not support gradients */    
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.content-area {
	height: 100%;
	overflow-y: scroll;
	padding: 0px 120px;
	padding-top: 50px;
	padding-bottom: 100px;
	font-family: 'Bitter', serif;
	opacity: 0;
}

.main-page-container {
	height: 100%;
	position: static;
}


/* ----------------------------------- sidebar navigation ----------------------------------*/

.navig>ul>li>a {
	color: inherit;
}

.navig>ul>li>a:hover,
a:hover{
	text-decoration: none;
}

.navig {
	background-color: #0e5e7a;
	height: auto;
	min-height: 100%;
	overflow: visible;
	padding: 0px;
	/*box-shadow: 0px 0px 20px 1px #444;*/
	color : white;
	position: static !important	;
	text-align: right;
}

.nick {
	padding: 7px;
	padding-bottom: 0px;
	font-weight: 900;
	font-size: 30px;
	margin-right: 20px;
}

.intro {
	padding: 7px;
	font-size: 15px;
	margin-right: 20px;
}

.main-ul {
	margin-top: 10px;
	margin-right: 30px;
	text-align: right;
}

.main-ul>li {
	padding: 2px;
	font-weight: 700;
	font-size: 18px;
}


.photo-frame {
	border-radius: 5px;
	width: 140px;
	height: 140px;
	margin-top: 30px;
	margin-left: calc(100% - 170px);
	position: static;
	background: green;
	background: url('../img/mep.jpg');
	background-size: 100%;
	border: 3px solid #fff;
	/*box-shadow: 0px 0px 5px black;*/
}

/* -------------------------- project template --------------------------------- */

.project-meta {
	font-size: 17px;
	margin-bottom: 10px;
	color: #bbb;
}

.project-title {
	font-size: 35px;
	font-weight: 700;
}

.project-content {
	text-align: justify;
	margin-top: 35px;
	font-size: 15px;
	line-height: 24px;
}

.project-content>h1, 
.project-content>h2, 
.project-content>h3, 
.project-content>h4,
.project-content>h5,
.project-content>h6 {
	font-weight: 700;
	padding-top: 20px;
}

.project-content>p {
	padding-top: 2px;
}

.project-back-btn {
	position: absolute;
	margin-left: 25%;
	padding: 20px;
}


/* -------------------------------------- contact page ---------------------------- */

.contact-hi {
	font-size: 130px;
	font-weight: 700;	
	line-height: 160px;
	color: #de4e4e;
}

.contact-icon {
	width: 120px;
	margin-right: 30px;
}

.contact-meta {
	font-size: 20px;	
}

.sm-i {
	font-size: 28px !important;
	margin: 15px 15px 0px 0px ;
}

/* ---------------------------------------- project main ------------------------------ */

.project-main-hi {
	font-size: 70px;
	font-weight: 700;	
	line-height: 140px;
	color: #007b47;
}

.project-main-icon {
	width: 70px;
	margin-right: 30px; 
}

.project-main-meta {
	font-size : 17px;	
}

.project-main-year {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
}

.project-main-entry {
	margin: 10px 0px 20px 0px ;	
	font-size: 15px;
}

.project-main-entry-desc {	
	font-size: 13px;
}

.project-main-entry-date {	
	font-size: 10px;
	color: #888;
	margin-top: 4px;
}

/* ---------------------------------------- work main ------------------------------ */

.work-main-hi {
	font-size: 70px;
	font-weight: 700;	
	line-height: 140px;
	color: #e17b00;
}

.work-main-icon {
	width: 70px;
	margin-right: 30px; 
}

.work-main-meta {
	font-size: 17px;	
}

.work-main-index {
	margin-top: 30px;
	margin-bottom: 40px;
	display: block;
}

.work-main-entry {
	/*border : 1px solid black;*/
	margin: 10px;
	margin-bottom: 20px;
	padding: 10px;
}

.work-main-entry-logo {
	width: 70px;
	padding: 2px;
}

.work-main-entry-text-org {
	font-weight: 700;
	font-size: 18px;
}

.work-main-entry-text-loc {	
	font-size: 10px;
	color: #888;
	margin-top: 0px;
}

.work-main-entry-text-desc {	
	margin-top: 6px;
	text-align: justify;
	font-size: 13px;
}

.work-main-entry-text-dat {	
	margin-top: 6px;
	font-weight: 700;
	font-size: 13px;
	color: #555;
}




/* --------------------------------------------- about -------------------------------------- */

.about-text {
	font-size: 17px;
	/*line-height: px;*/
	text-align: justify;
	padding: 0px 0px 50px;
}

.about-img {
	display: block;
	margin-right: : 0px;
	height: 50px;
}


