<!DOCTYPE html>
<!-- <html lang="en">
	{% include head.html %}

	<body>
		<div class="container-fluid main-page-container">
			<div class="row" style="height : 100%">
				{% include sidebar-nav.html %}

				<div class="project-back-btn">projects index</div>
			
				<div class="col-md-9 content-area">

					<div class="project">
						<div class="project-meta">{{ page.enddate | date: "%-d %B %Y" }}</div>
						<div class="project-title">{{ page.title }}</div>
						
						<div class="project-content">{{ page.content }}</div>
					
					</div>

				</div>

			</div>
		</div>

		<script>
				
		$(document).ready(function() {
			$(".content-area").animate({"padding-top": "80px" , "opacity" : 1}, "slow");			
				
		});


		</script>

	</body>
 -->
</html>

